@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: NanumSquare,sans-serif;
  font-weight: 400;
  letter-spacing: -.04em;
  word-break: keep-all;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden; }

a {
  text-decoration: none; }

label {
  padding-bottom: 5px;
  font-weight: 600; }

select {
  width: 100%;
  font-size: 16px;
  color: #3F3F3F;
  /* Here's the code we need */
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

.wrapper {
  position: relative;
  z-index: 20;
  overflow-x: hidden; }

.btn_search {
  padding: 1em 2em;
  background: #2E2E2E;
  color: #fff;
  outline: none;
  text-decoration: none;
  border-radius: 3px;
  transition: all .3s ease-in-out 0s;
  border: none;
  cursor: pointer; }
  .btn_search:hover {
    background: #00AEF0; }

.icon_calendar {
  background: url("../../images/icon/date_time.png"); }

.icon_clock {
  background: url("../../images/icon/clock.png"); }

.icon_people {
  background: url("../../images/icon/people.png"); }

.container_wp {
  display: block;
  max-width: 1170px;
  width: 100%;
  margin-right: auto;
  margin-left: auto; }
  @media only screen and (max-width: 1024px) {
    .container_wp {
      max-width: 970px; } }
  @media only screen and (max-width: 768px) {
    .container_wp {
      max-width: 720px; } }
  @media only screen and (max-width: 576px) {
    .container_wp {
      max-width: 540px; } }

.section_page {
  padding: 50px 0;
  background: #F3F3F3; }
  @media only screen and (max-width: 576px) {
    .section_page {
      padding: 25px 0; } }

.section_title {
  text-align: center;
  padding-bottom: 45px; }
  .section_title h4 {
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: 600; }
    @media only screen and (max-width: 576px) {
      .section_title h4 {
        font-size: 18px; } }
  .section_title .icon_title {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center; }
    .section_title .icon_title::before {
      content: '';
      display: inline-block;
      width: 50px;
      height: 1px;
      background: #DCDBDB; }
    .section_title .icon_title::after {
      content: '';
      display: inline-block;
      width: 50px;
      height: 1px;
      background: #DCDBDB; }
    .section_title .icon_title img {
      padding: 0 15px; }

.box_review_gallery {
  display: flex;
  flex-direction: row; }
  .box_review_gallery .review_info {
    display: flex;
    flex-direction: column; }
    .box_review_gallery .review_info .name {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 5px; }
    .box_review_gallery .review_info .rate {
      float: left;
      height: 30px; }
      .box_review_gallery .review_info .rate:not(:checked) > input {
        position: absolute;
        visibility: hidden; }
      .box_review_gallery .review_info .rate:not(:checked) > label {
        float: right;
        width: 1em;
        overflow: hidden;
        white-space: nowrap;
        cursor: pointer;
        font-size: 24px;
        color: #ccc; }
        .box_review_gallery .review_info .rate:not(:checked) > label:before {
          content: '★ '; }
        .box_review_gallery .review_info .rate:not(:checked) > label:hover {
          color: #ffc700; }
          .box_review_gallery .review_info .rate:not(:checked) > label:hover ~ label {
            color: #ffc700; }
      .box_review_gallery .review_info .rate > input:checked ~ label {
        color: #ffc700; }
        .box_review_gallery .review_info .rate > input:checked ~ label:hover {
          color: #c59b08; }
          .box_review_gallery .review_info .rate > input:checked ~ label:hover ~ label {
            color: #c59b08; }
      .box_review_gallery .review_info .rate > input:checked + label:hover {
        color: #c59b08; }
        .box_review_gallery .review_info .rate > input:checked + label:hover ~ label {
          color: #c59b08; }
      .box_review_gallery .review_info .rate > label:hover ~ input:checked ~ label {
        color: #c59b08; }

.main_header {
  position: fixed;
  width: 100%;
  background: url("../../images/background/background_header.png");
  height: 80px;
  z-index: 99;
  transition: all .5s ease-in-out 0s;
  display: flex; }
  .main_header .narbar_header {
    width: 1170px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .main_header .narbar_header .logo_header {
      padding-left: 30px; }
    .main_header .narbar_header .menu_wp_content .menu_content {
      display: flex;
      flex-direction: row; }
      .main_header .narbar_header .menu_wp_content .menu_content .menu_item {
        padding: 15px 30px 15px 0; }
        .main_header .narbar_header .menu_wp_content .menu_content .menu_item a {
          color: #fff;
          font-size: 18px;
          position: relative;
          transition: all .3s ease-in-out 0s; }
          .main_header .narbar_header .menu_wp_content .menu_content .menu_item a::after {
            content: '';
            display: block;
            position: absolute;
            width: 50px;
            height: 0px;
            bottom: -10px;
            left: 50%;
            margin-left: -25px;
            background: #00AEF0;
            transition: all .3s ease-in-out 0s; }
        .main_header .narbar_header .menu_wp_content .menu_content .menu_item:hover a, .main_header .narbar_header .menu_wp_content .menu_content .menu_item:focus a, .main_header .narbar_header .menu_wp_content .menu_content .menu_item.active a {
          color: #00AEF0; }
          .main_header .narbar_header .menu_wp_content .menu_content .menu_item:hover a::after, .main_header .narbar_header .menu_wp_content .menu_content .menu_item:focus a::after, .main_header .narbar_header .menu_wp_content .menu_content .menu_item.active a::after {
            height: 1px; }

.main_footer {
  background: #232336;
  padding: 4.2% 0; }
  @media only screen and (max-width: 1024px) {
    .main_footer {
      padding: 2em 1em; } }
  .main_footer .box_wp_footer {
    display: flex;
    flex-direction: row; }
    @media only screen and (max-width: 480px) {
      .main_footer .box_wp_footer {
        flex-direction: column; } }
    .main_footer .box_wp_footer .box_footer {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      width: 100%; }
      @media only screen and (max-width: 480px) {
        .main_footer .box_wp_footer .box_footer:first-child {
          padding-bottom: 20px; } }
      .main_footer .box_wp_footer .box_footer .list_link {
        display: flex;
        flex-direction: row;
        padding-bottom: 30px;
        border-bottom: 1px solid #9B9494;
        width: 100%; }
        @media only screen and (max-width: 480px) {
          .main_footer .box_wp_footer .box_footer .list_link {
            padding-bottom: 20px; } }
        .main_footer .box_wp_footer .box_footer .list_link .item_link {
          padding-right: 10px;
          padding-left: 10px;
          border-right: 1px solid #9B9494; }
          .main_footer .box_wp_footer .box_footer .list_link .item_link:first-child {
            padding-left: 0; }
          .main_footer .box_wp_footer .box_footer .list_link .item_link:last-child {
            border-right: none; }
          .main_footer .box_wp_footer .box_footer .list_link .item_link a {
            color: #00AEF0;
            font-weight: 500;
            font-size: 20px; }
            @media only screen and (max-width: 480px) {
              .main_footer .box_wp_footer .box_footer .list_link .item_link a {
                font-size: 16px; } }
            .main_footer .box_wp_footer .box_footer .list_link .item_link a:hover, .main_footer .box_wp_footer .box_footer .list_link .item_link a:focus {
              color: #9B9494;
              transition: all .3s ease-in-out 0s; }
      .main_footer .box_wp_footer .box_footer .information_footer {
        padding-top: 30px; }
        @media only screen and (max-width: 480px) {
          .main_footer .box_wp_footer .box_footer .information_footer {
            padding-top: 20px; } }
        .main_footer .box_wp_footer .box_footer .information_footer p {
          color: #9B9494;
          padding-bottom: 15px;
          font-size: 18px;
          line-height: 25px; }
          @media only screen and (max-width: 480px) {
            .main_footer .box_wp_footer .box_footer .information_footer p {
              font-size: 14px; } }
      .main_footer .box_wp_footer .box_footer .contact_footer {
        padding-left: 50px; }
        @media only screen and (max-width: 480px) {
          .main_footer .box_wp_footer .box_footer .contact_footer {
            padding: 0; } }
        .main_footer .box_wp_footer .box_footer .contact_footer p {
          color: #9B9494;
          padding-bottom: 15px;
          font-size: 18px;
          line-height: 25px; }
          @media only screen and (max-width: 480px) {
            .main_footer .box_wp_footer .box_footer .contact_footer p {
              font-size: 14px; } }

.form_input {
  height: 40px;
  border: 1px solid #9B9494;
  border-radius: 3px;
  padding: 0 .75em; }

.input_date_time {
  position: relative;
  display: flex;
  flex-direction: column; }
  .input_date_time .icon_append {
    content: '';
    background-repeat: no-repeat;
    position: absolute;
    right: 10px;
    top: 12px;
    width: 20px;
    height: 20px;
    font-size: 15px;
    line-height: 29px;
    text-align: center; }

.select_box_wrapper {
  position: relative; }
  .select_box_wrapper::after {
    content: '';
    position: absolute;
    display: block;
    background: url(../../images/icon/arrow_down.png);
    background-repeat: no-repeat;
    width: 12px;
    height: 12px;
    right: 15px;
    top: 15px; }

.main_page_section_1 {
  background-image: url("../../images/background/background_header.png");
  height: 537px;
  width: 100%; }
  .main_page_section_1 .box_search_wrapper {
    position: relative; }
    .main_page_section_1 .box_search_wrapper .box_search_homepage {
      background-color: #F3F3F3;
      top: 115px;
      right: 30px;
      width: 423px;
      height: 380px;
      position: absolute;
      opacity: 0.8; }
      @media only screen and (max-width: 1024px) {
        .main_page_section_1 .box_search_wrapper .box_search_homepage {
          right: 5px; } }
      .main_page_section_1 .box_search_wrapper .box_search_homepage form {
        padding: 30px; }
        .main_page_section_1 .box_search_wrapper .box_search_homepage form .input_wrapper {
          padding-bottom: 25px;
          display: flex;
          flex-direction: column; }
          .main_page_section_1 .box_search_wrapper .box_search_homepage form .input_wrapper .box_schedule {
            display: flex;
            flex-direction: row; }
            .main_page_section_1 .box_search_wrapper .box_search_homepage form .input_wrapper .box_schedule .list_item_schedule {
              display: grid;
              grid-template-columns: repeat(6, 1fr);
              grid-gap: 10px;
              transition: all .3s ease-in-out 0s; }
              .main_page_section_1 .box_search_wrapper .box_search_homepage form .input_wrapper .box_schedule .list_item_schedule .item_box_schedule {
                display: flex;
                flex-direction: column;
                grid-column: 2 span;
                width: 100%; }
          .main_page_section_1 .box_search_wrapper .box_search_homepage form .input_wrapper .box_amount_theme {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-gap: 10px;
            transition: all .3s ease-in-out 0s; }
            .main_page_section_1 .box_search_wrapper .box_search_homepage form .input_wrapper .box_amount_theme .item_people {
              display: flex;
              flex-direction: column;
              grid-column: 2 span;
              width: 100%; }
            .main_page_section_1 .box_search_wrapper .box_search_homepage form .input_wrapper .box_amount_theme .item_theme {
              display: flex;
              flex-direction: column;
              grid-column: 4 span;
              width: 100%; }

.main_page_section_2 .list_gallery {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 15px;
  transition: all .3s ease-in-out 0s; }
  .main_page_section_2 .list_gallery .item_gallery {
    grid-column: 4 span;
    width: 100%; }
    @media only screen and (max-width: 480px) {
      .main_page_section_2 .list_gallery .item_gallery {
        grid-column: 12 span; } }
    .main_page_section_2 .list_gallery .item_gallery .box_gallery_slider {
      background: #fff;
      padding: 10px;
      margin-bottom: 10px; }
      .main_page_section_2 .list_gallery .item_gallery .box_gallery_slider .slider_single {
        margin-bottom: 10px; }
        .main_page_section_2 .list_gallery .item_gallery .box_gallery_slider .slider_single .item_slider_single img {
          width: 100%; }
      .main_page_section_2 .list_gallery .item_gallery .box_gallery_slider .slider_nav .item_slider_nav .box_img_slider {
        padding-right: 5px; }
        .main_page_section_2 .list_gallery .item_gallery .box_gallery_slider .slider_nav .item_slider_nav .box_img_slider img {
          width: 100%; }
      .main_page_section_2 .list_gallery .item_gallery .box_gallery_slider .slider_nav .slick-prev {
        right: 30px;
        left: auto; }
        @media only screen and (max-width: 576px) {
          .main_page_section_2 .list_gallery .item_gallery .box_gallery_slider .slider_nav .slick-prev {
            right: 40px; } }
      .main_page_section_2 .list_gallery .item_gallery .box_gallery_slider .slider_nav .slick-next {
        right: -10px; }
        @media only screen and (max-width: 576px) {
          .main_page_section_2 .list_gallery .item_gallery .box_gallery_slider .slider_nav .slick-next {
            right: 0; } }
      .main_page_section_2 .list_gallery .item_gallery .box_gallery_slider .slider_nav .slick-prev, .main_page_section_2 .list_gallery .item_gallery .box_gallery_slider .slider_nav .slick-next {
        background-color: #F3F3F3;
        bottom: -70px;
        width: 30px;
        height: 30px;
        top: auto;
        border: 1px solid #2E2E2E; }
        .main_page_section_2 .list_gallery .item_gallery .box_gallery_slider .slider_nav .slick-prev::before, .main_page_section_2 .list_gallery .item_gallery .box_gallery_slider .slider_nav .slick-next::before {
          color: #2E2E2E; }
    .main_page_section_2 .list_gallery .item_gallery .box_review_gallery {
      display: flex;
      flex-direction: row; }
      .main_page_section_2 .list_gallery .item_gallery .box_review_gallery .navigation_slide {
        position: relative; }
        .main_page_section_2 .list_gallery .item_gallery .box_review_gallery .navigation_slide .btn_slide {
          color: #9B9494; }

.main_page_section_3 .bg_main_page_section_3 {
  width: 100%;
  height: 500px;
  background-image: url("../../images/background/background_section_3.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center; }
  @media only screen and (max-width: 576px) {
    .main_page_section_3 .bg_main_page_section_3 {
      height: 200px; } }
  .main_page_section_3 .bg_main_page_section_3 .step_regis {
    position: relative; }
    .main_page_section_3 .bg_main_page_section_3 .step_regis::before {
      content: '';
      display: block;
      position: absolute;
      height: 2px;
      width: 100%;
      background: #fff;
      opacity: 0.63;
      top: 50%; }
    .main_page_section_3 .bg_main_page_section_3 .step_regis .regis_nav_step {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      .main_page_section_3 .bg_main_page_section_3 .step_regis .regis_nav_step .step_item {
        display: flex;
        flex-direction: column;
        width: 164px;
        height: 164px;
        text-align: center;
        position: relative;
        justify-content: center;
        border-radius: 50%;
        background: #fff;
        opacity: 1; }
        @media only screen and (max-width: 1024px) {
          .main_page_section_3 .bg_main_page_section_3 .step_regis .regis_nav_step .step_item {
            width: 130px;
            height: 130px; } }
        @media only screen and (max-width: 768px) {
          .main_page_section_3 .bg_main_page_section_3 .step_regis .regis_nav_step .step_item {
            width: 125px;
            height: 125px; } }
        @media only screen and (max-width: 576px) {
          .main_page_section_3 .bg_main_page_section_3 .step_regis .regis_nav_step .step_item {
            width: 50px;
            height: 50px; } }
        .main_page_section_3 .bg_main_page_section_3 .step_regis .regis_nav_step .step_item img {
          width: 58px;
          height: 58px;
          margin: 0 auto;
          margin-bottom: 5px; }
          @media only screen and (max-width: 768px) {
            .main_page_section_3 .bg_main_page_section_3 .step_regis .regis_nav_step .step_item img {
              width: 40px;
              height: 40px;
              margin-bottom: 10px; } }
          @media only screen and (max-width: 576px) {
            .main_page_section_3 .bg_main_page_section_3 .step_regis .regis_nav_step .step_item img {
              width: 20px;
              height: 20px;
              margin-bottom: 5px; } }
        .main_page_section_3 .bg_main_page_section_3 .step_regis .regis_nav_step .step_item span {
          font-size: 14px; }
          @media only screen and (max-width: 576px) {
            .main_page_section_3 .bg_main_page_section_3 .step_regis .regis_nav_step .step_item span {
              font-size: 10px; } }

.main_page_section_4 .multiple_items .item_multiple_items {
  text-align: center; }
  .main_page_section_4 .multiple_items .item_multiple_items .img_multiple_items {
    padding-bottom: 30px; }
  .main_page_section_4 .multiple_items .item_multiple_items .img_multiple_items, .main_page_section_4 .multiple_items .item_multiple_items .box_review_gallery {
    text-align: center;
    justify-content: center; }
  .main_page_section_4 .multiple_items .item_multiple_items .img_multiple_items img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin: 0 auto;
    object-fit: cover; }

@media only screen and (max-width: 1024px) {
  .main_page_section_4 .multiple_items .slick-next {
    right: 0; } }

@media only screen and (max-width: 1024px) {
  .main_page_section_4 .multiple_items .slick-prev {
    left: 0; } }

.main_page_section_4 .multiple_items .slick-next, .main_page_section_4 .multiple_items .slick-prev {
  border: 1px solid #2E2E2E;
  width: 40px;
  height: 40px; }

.sub_main .breakcrum {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 50px; }
  @media only screen and (max-width: 576px) {
    .sub_main .breakcrum {
      padding: 0 10px 30px 10px; } }
  .sub_main .breakcrum img {
    padding-right: 10px; }
  .sub_main .breakcrum .breakcrum_title {
    font-weight: 500;
    font-size: 16px;
    padding-left: 10px; }

.sub_main .box_detail .box_list_detail {
  margin-bottom: 50px; }
  .sub_main .box_detail .box_list_detail .box_item_detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px; }
    @media only screen and (max-width: 576px) {
      .sub_main .box_detail .box_list_detail .box_item_detail {
        flex-direction: column;
        padding: 0 10px; } }
    @media only screen and (max-width: 576px) {
      .sub_main .box_detail .box_list_detail .box_item_detail .box_info {
        margin-bottom: 5px; } }
    .sub_main .box_detail .box_list_detail .box_item_detail .box_info .name {
      font-size: 14px;
      font-weight: 600;
      padding-right: 15px; }
    .sub_main .box_detail .box_list_detail .box_item_detail .box_info .price {
      font-size: 18px;
      font-weight: 600; }
    .sub_main .box_detail .box_list_detail .box_item_detail .box_review .rate {
      float: left;
      height: 20px; }
      .sub_main .box_detail .box_list_detail .box_item_detail .box_review .rate:not(:checked) > input {
        position: absolute;
        visibility: hidden; }
      .sub_main .box_detail .box_list_detail .box_item_detail .box_review .rate:not(:checked) > label {
        float: right;
        width: 1em;
        overflow: hidden;
        white-space: nowrap;
        cursor: pointer;
        font-size: 24px;
        color: #ccc; }
        .sub_main .box_detail .box_list_detail .box_item_detail .box_review .rate:not(:checked) > label:before {
          content: "★ "; }
        .sub_main .box_detail .box_list_detail .box_item_detail .box_review .rate:not(:checked) > label:hover {
          color: #ffc700; }
          .sub_main .box_detail .box_list_detail .box_item_detail .box_review .rate:not(:checked) > label:hover ~ label {
            color: #ffc700; }
      .sub_main .box_detail .box_list_detail .box_item_detail .box_review .rate > input:checked ~ label {
        color: #ffc700; }
        .sub_main .box_detail .box_list_detail .box_item_detail .box_review .rate > input:checked ~ label:hover {
          color: #c59b08; }
          .sub_main .box_detail .box_list_detail .box_item_detail .box_review .rate > input:checked ~ label:hover ~ label {
            color: #c59b08; }
      .sub_main .box_detail .box_list_detail .box_item_detail .box_review .rate > input:checked + label:hover {
        color: #c59b08; }
        .sub_main .box_detail .box_list_detail .box_item_detail .box_review .rate > input:checked + label:hover ~ label {
          color: #c59b08; }
      .sub_main .box_detail .box_list_detail .box_item_detail .box_review .rate > label:hover ~ input:checked ~ label {
        color: #c59b08; }
  .sub_main .box_detail .box_list_detail .box_detail_gallery {
    background: #fff; }
    .sub_main .box_detail .box_list_detail .box_detail_gallery .list_detail_gallery .item_detail_gallery .item_wrapper_img {
      padding: 20px; }
      .sub_main .box_detail .box_list_detail .box_detail_gallery .list_detail_gallery .item_detail_gallery .item_wrapper_img img {
        object-fit: cover;
        width: 100%;
        height: 263px;
        transition: all 0.5s ease-out;
        cursor: url("../../images/icon/icon_cursor_search.png"), auto; }
        .sub_main .box_detail .box_list_detail .box_detail_gallery .list_detail_gallery .item_detail_gallery .item_wrapper_img img:hover {
          transform: scale(1.1);
          -webkit-box-shadow: 0px 0px 16px -1px rgba(0, 0, 0, 0.75);
          -moz-box-shadow: 0px 0px 16px -1px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 16px -1px rgba(0, 0, 0, 0.75); }
    .sub_main .box_detail .box_list_detail .box_detail_gallery .list_detail_gallery .slick-next {
      right: 20px; }
    .sub_main .box_detail .box_list_detail .box_detail_gallery .list_detail_gallery .slick-prev {
      left: 20px; }
      .sub_main .box_detail .box_list_detail .box_detail_gallery .list_detail_gallery .slick-prev::before {
        left: 20%; }
    .sub_main .box_detail .box_list_detail .box_detail_gallery .list_detail_gallery .slick-next,
    .sub_main .box_detail .box_list_detail .box_detail_gallery .list_detail_gallery .slick-prev {
      border: 1px solid #2e2e2e;
      width: 30px;
      height: 30px;
      background: #ffffff;
      z-index: 12;
      opacity: 0.8; }

.sub_main .load_more {
  display: flex;
  justify-content: center; }
  .sub_main .load_more .wrapper_btn {
    padding: 1em 2em;
    border: 1px solid #2E2E2E;
    background: #fff;
    color: #2E2E2E;
    outline: none;
    text-decoration: none;
    border-radius: 3px;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer; }
    .sub_main .load_more .wrapper_btn:hover {
      background: #2E2E2E;
      color: #fff; }
