.form_input{
    height: 40px;
    border: 1px solid $color_brown;
    border-radius: 3px;
    padding: 0 .75em;
}
.input_date_time{
    position: relative;
    display: flex;
    flex-direction: column;
    .icon_append{
        content: '';
        background-repeat: no-repeat;
        position: absolute;
        right: 10px;
        top: 12px;
        width: 20px;
        height: 20px;
        font-size: 15px;
        line-height: 29px;
        text-align: center;
    }
}
.select_box_wrapper{
    position: relative;	
    &::after{
        content: '';
        position: absolute;
        display: block;
        background: url(../../images/icon/arrow_down.png);
        background-repeat: no-repeat;
        width: 12px;
        height: 12px;
        right: 15px;
        top: 15px;
    }
    .select_box{
        
    }
}
