.main_header{
    position: fixed;
    width: 100%;
    background: transparent;
    height: 80px;
    z-index: 99;
    transition: all .5s ease-in-out 0s;
    display: flex;
    .narbar_header{
        width: 1170px;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .logo_header{
            padding-left:30px;
        }
        .menu_wp_content{
            .menu_content{
                display: flex;
                flex-direction: row;
                .menu_item{
                    padding: 15px 30px 15px 0;
                    a{
                        color: $color_white;
                        font-size: $font_size_C;
                        position: relative;
                        transition: all .3s ease-in-out 0s;
                        &::after{
                            content: '';
                            display: block;
                            position: absolute;
                            width: 50px;
                            height: 0px;
                            bottom: -10px;
                            left: 50%;
                            margin-left: -25px;
                            background: $color_blue;
                            transition: all .3s ease-in-out 0s;
                        }
                    }
                    &:hover,&:focus,&.active{
                        a{
                            color: $color_blue;
                            &::after{
                                height: 1px;
                            }
                        }
                    }
                }
            }
        }
    }
}