$color_grey: #DCDBDB;
$color_grey_light: #F3F3F3;
$color_blue: #00AEF0;
$color_brown:#9B9494;
$color_white:#fff;
$color_black:#2E2E2E;

$fontWeight_title: 600;
$fontWeight_link: 500;
body {
    font-family: NanumSquare,sans-serif;
    font-weight: 400;
    letter-spacing: -.04em;
    word-break: keep-all;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-variant-ligatures: none;
    -webkit-font-variant-ligatures: none;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
label{
    padding-bottom: 5px;
    font-weight: $fontWeight_title;
}
.wrapper{
    position: relative;
    z-index: 20;
    overflow-x: hidden;
}
.btn_search{
    @include btn01();
}